body{
    background-color: black;
}

hr{
    border: 0.1rem solid #05441d;
}

h1,h2,h3,h4,h5,h6{
    color: white;    
    font: sans-serif;
}

p{
    color: white;
    font: sans-serif;
}

.home-top{
    text-align: center;
    padding-bottom: 15rem;
}

.home-middle{
    border: 0.2rem solid #05441d;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1rem;
}


.home-bottom{
    text-align: center;
}

.start-button{
    cursor: pointer;
    padding: 1.5rem 3rem;
    border: none;
    border-spacing: 10px;
    position: relative;
    border-radius: 3rem;
    font: bold 10pt sans-serif;
    font-size: 1.5rem;
    color: white;
    border-width: 1rem;
    background-image: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.start-button:hover{
    background: white;
    color: #4dcc82;
}