body{
    background-color: black;
}

hr{
    border: 0.1rem solid #05441d;
}

h1,h2,h3,h4,h5,h6{
    color: white;    
    font: sans-serif;
}

p{
    color: white;
    font: sans-serif;
}

.dial-pad {
    display: block;
    width: 60vh;
    height: 60vh;
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }

.part-two-top{
    text-align: center;
    padding-bottom: 15rem;
}

.part-two-middle{
    text-align: center;
    padding-bottom: 5rem;
}

.part-two-bottom{
    text-align: center;
}