body{
    background-color: black;
}

hr{
    border: 0.1rem solid #05441d;
}

h1,h2,h3,h4,h5,h6{
    color: white;    
    font: sans-serif;
}

p{
    color: white;
    font: sans-serif;
}

ul li label{
    color: white;
    font: sans-serif;
    cursor: pointer;
    display: block;
}

ul li:hover label{
	color: #89ffca;
}

input[type="radio"] {
    appearance: none;
}
input[type=radio]:checked {
    color: #0DFF92;
}

input[type=radio]:checked ~ label{
    color: #0DFF92;
}

.submit-button{
    cursor: pointer;
    padding: 1.5rem 3rem;
    border: none;
    border-spacing: 10px;
    position: relative;
    border-radius: 3rem;
    font: bold 10pt sans-serif;
    font-size: 1.5rem;
    color: white;
    border-width: 1rem;
    background-image: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.next-button{
    cursor: pointer;
    padding: 1.5rem 3rem;
    border: none;
    border-spacing: 10px;
    position: relative;
    border-radius: 3rem;
    font: bold 10pt sans-serif;
    font-size: 1.5rem;
    color: white;
    border-width: 1rem;
    background-image: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
    visibility: hidden;
}

.submit-button:hover{
    background: white;
    color: #4dcc82;
}

.part-one-top{
    text-align: center;
    padding-bottom: 5rem;
}

.part-one-middle{
    text-align: center;
    padding-bottom: 1rem;
}

.part-one-bottom{
    text-align: center;
}

.item [type="radio"] {
    display: none;
}

 .item label {
    display: block;
    padding: 2rem 3rem;
    background: #1717ad;
    border: 0.5rem solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    cursor: pointer;
    font-size: 18px;
    transition: 0.4s ease-in-out 0s;
    width: 20rem;
    margin: auto auto 1rem auto;
}