body{
    background-color: black;
}

hr{
    border: 0.1rem solid #05441d;
}

h1,h2,h3,h4,h5,h6{
    color: white;    
    font: sans-serif;
}

p{
    color: white;
    font: sans-serif;
}

.field-wrap{
    grid-column: 1/ span 2;
    color: white;
}
.submit-button{
    cursor: pointer;
    padding: 1.5rem 3rem;
    border: none;
    border-spacing: 10px;
    position: relative;
    border-radius: 3rem;
    font: bold 10pt sans-serif;
    font-size: 1.5rem;
    color: white;
    border-width: 1rem;
    background-image: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
    grid-column: 1/ span 2;
}

.submit-button:hover{
    background: aliceblue;
    color: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.next-button{
    cursor: pointer;
    padding: 1.5rem 3rem;
    border: none;
    border-spacing: 10px;
    position: relative;
    border-radius: 3rem;
    font: bold 10pt sans-serif;
    font-size: 1.5rem;
    color: white;
    border-width: 1rem;
    background-image: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
    visibility: hidden;
}

.next-button:hover{
    background: aliceblue;
    color: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.part-three-top{
    text-align: center;
    padding-bottom: 1rem;
}

.modal-button-container{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 1rem;
    padding-top: 10rem;
    grid-row: auto auto;
    grid-template-columns: auto auto;
}

.submit-container{
    padding-top: 1rem;
    text-align: center;
}

.part-three-bottom{
    padding-top: 1rem;
    text-align: center;
}

.field-wrap{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

input{
    font-size:22px;
    padding: 0.5rem;
    background:none;
    border:1px solid darkgreen;
    color: aliceblue;
}

input:focus {
    outline: 0;
    border-color: lightgreen;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  none;
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -10;
}

.modal-overlay-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  rgba(26, 108, 167, 0.5);
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -10;
}

.modal-button-1{
    cursor: pointer;
    padding: 1.5rem 3rem;
    border: none;
    border-spacing: 10px;
    position: relative;
    border-radius: 3rem;
    font: bold 10pt sans-serif;
    font-size: 1.5rem;
    color: white;
    border-width: 1rem;
    background-image: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.modal-button-1:hover{
    background: aliceblue;
    color: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.modal-button-2{
    cursor: pointer;
    padding: 1.5rem 3rem;
    border: none;
    border-spacing: 10px;
    position: relative;
    border-radius: 3rem;
    font: bold 10pt sans-serif;
    font-size: 1.5rem;
    color: white;
    border-width: 1rem;
    background-image: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.modal-button-2:hover{
    background: aliceblue;
    color: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.modal-button-3{
    cursor: pointer;
    padding: 1.5rem 3rem;
    border: none;
    border-spacing: 10px;
    position: relative;
    border-radius: 3rem;
    font: bold 10pt sans-serif;
    font-size: 1.5rem;
    color: white;
    border-width: 1rem;
    background-image: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.modal-button-3:hover{
    background: aliceblue;
    color: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.modal-button-4{
    cursor: pointer;
    padding: 1.5rem 3rem;
    border: none;
    border-spacing: 10px;
    position: relative;
    border-radius: 3rem;
    font: bold 10pt sans-serif;
    font-size: 1.5rem;
    color: white;
    border-width: 1rem;
    background-image: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.modal-button-4:hover{
    background: aliceblue;
    color: linear-gradient(315deg, #0d754a 0%, #05441d 74%);
}

.open-modal {
    visibility: visible;
    z-index: 10;
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: darkred;
    cursor: pointer;
  }

.close-button:hover {
    color: lightcoral;
    transform: scale(1.3);
}

.modal-container {
    background: darkolivegreen;
    border: solid #05441d 0.4rem;
    border-radius: 0.5rem;
    width: 90vw;
    height: 50vh;
    max-width: 670px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
}